.footer {
    position: relative;
    left: 0;
    width: 100%;
    color: white; /* White text for contrast */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
}
